.home {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 20px;
  display: flex;

  font-size: 2rem;
  font-weight: bold;
  color: #6583e6;
  text-shadow: 2px 1px 1px #6b6b6b;

  &__header {
    h1 {
      color: #2686a7;
    }
  }

  &__main {
    padding: 30px;
    background: #f0f0c8;
    p {
      color: #ff0000;
    }
  }
}

.columndisplay {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  color: #6583e6;
  text-shadow: 2px 1px 1px #6b6b6b;
}

.columndisplayDocs {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  color: #9715be;
  text-shadow: 2px 1px 1px #ffffff;
}

.backgroundCol {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #212428;
}

.pseudoform {
  padding-top: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.button {
  width: 20%;
  margin: auto;
  padding: 10px;
}